#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.grayscale-map {
  filter: grayscale(100%) contrast(110%) brightness(95%);
}


.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

.custom-popup .leaflet-popup-content-wrapper {
  background: white;
  border-radius: 16px; 
  padding: 0px !important;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); 
  border: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden; 
}

.custom-popup .leaflet-popup-content {
  margin: 12px !important;
  line-height: 1.4;
}

.custom-popup .leaflet-popup-tip-container {
  display: none; 
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 5px;
}